@keyframes mymove {
    25%  {transform: scale(1.1);}
    75%  {transform: scale(0.9)}
}
.form-advisory{
    background: url("../images/bg-form.jpg") left center no-repeat;
    padding: 52px 0;
    background-size: cover;
    overflow: hidden;
    .register-learn{
        .title-form-add{
            color: #fff;
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: 15px;
            line-height: 55px;
            @media (max-width: 768px) {
                font-size: 24px;
                margin-bottom: 20px;
                line-height: inherit;
            }
        }
        .list-chat-form{
            ul{
                li{
                    background: #e5ae35;
                    padding: 6px;
                    border-radius: 10px;
                    width: 100%;
                    margin: 0 10px;
                    svg{
                        transform: perspective(1px) translateZ(0);
                        animation-name: mymove;
                        animation-duration: 1.5s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .form-home-add{
            input, select{
                border-radius: 100px;
                background: rgba(0, 0, 0, 0.56);
                border: none;
                margin-bottom: 15px;
                color: #fff;
                height: 48px;
                padding: 10px 25px;
                &::-webkit-input-placeholder{
                    color: #fff;
                }
            }
            select:required:invalid {
                color: #fff;
            }
            option[value=""][disabled] {
                display: none;
            }
            option {
                color: #fff;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0;
            }
            input[type="datetime-local"]{
                &:focus{
                    background: #fff;
                    color: #000;
                }
            }
            .submit-form-home{
                border-radius: 100px;
                border: none;
                color: #fff;
                height: 56px;
                text-transform: uppercase;
                font-family: HelveticaNeue-Bold;
                background: #BC2330;
                vertical-align: middle;
                transform: perspective(1px) translateZ(0);
                animation-name: mymove;
                animation-duration: 1.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                i{
                    margin-left: 10px;
                }
            }
        }
        .bg-for-form-advisory{
            //background: url("../images/co-gai.svg") no-repeat center bottom;
            //background-size: contain;
            svg,img{
                max-width: 100%;
                z-index: 2;
                @media (min-width: 768px) {
                    bottom: -52px;
                    right: 0;
                    position: absolute;
                }
                @media (max-width: 768px) {
                    margin-top: 20px;
                    height: 403px;
                }
            }
            @media(max-width: 768px) {
                display:flex;
            }
            &:after{
                content: "";
                position: absolute;
                bottom: -52px;
                left: 0;
                right: 0;
                background: url('../images/anhcogai.webp') no-repeat center bottom;
                background-size: contain;
                z-index: 1;
                height: 543px;

                @media (max-width: 768px) {
                    height:511px
                }
            }
        }
    }
}
