@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue/helvetica-neue-regular.ttf);
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url(../fonts/HelveticaNeue/helvetica-neue-bold.ttf);
}
