.top-content-news{
  .banner-home-article{
      background: #FFECCA;
      img{
          border-radius: 20px;
          overflow: hidden;
          padding: 80px 0;
      }
  }
}
.list-news-home{
    padding: 80px 0;
    .item-article-home{
        margin-bottom: 40px;
        .link-black{
            overflow: hidden;
            border-radius: 10px;
            display: block;
            margin-bottom: 20px;
            .img-new-home{
                border-radius: 10px;
            }
        }

        .title-new{
            color: #6B6B6B;
            font-size: 18px;
            font-family: HelveticaNeue-Bold;
            margin-bottom: 10px;
            max-height: 60px;
            overflow: hidden;
        }
        .description-news{
            color: #7F7F7F;
            max-height: 54px;
            overflow: hidden;
        }
        &:hover{
            .title-new{
                color: #BC2330;
            }
        }
    }
}
