@import "fonts";
@import "variables";
@import "hover-master/hover";
body{
    background-color: #fff;
    font-family: HelveticaNeue;
    font-size: 16px;
}
a{
    text-decoration: unset;
    &:hover{
        color: #BC2330;
    }
}
.navbar-finalstyle{
    .top-head{
        .navbar-brand{
            padding: 16px 0;
            display: block;
        }
        .contact-head{
            @media (min-width: 768px) {
                width: 55%;
            }
        }
        .list-hotline-email{
            margin: 0;
            li{
                line-height: 44px;
                color: #6B6B6B;
                font-size: 14px;
                img{
                    margin-right: 5px;
                }
                a{
                    font-family: HelveticaNeue-Bold;
                    color: #6B6B6B;
                    text-decoration: unset;
                }
                &:first-child{
                    margin-right: 10px;
                }
            }
        }
        .action-top-head{
            @media (min-width: 768px) {
                width: 45%;
            }
            .search-head-pc{
                input,button{
                    border: none;
                    background: #F8F8F8;
                    border-radius: 100px;
                    height: 44px;
                }
            }
            .register-trainer{
                border-radius: 100px;
                background: #BC2330;
                box-shadow: 12px 12px 56px 0px rgba(188, 35, 48, 0.12);
                text-align: center;
                color: #fff;
                font-family: HelveticaNeue-Bold;
                text-decoration: unset;
                padding: 11px 16px;
                font-size: 14px;
            }
        }
        .mobile-head-top{
            p{
                i{
                    background: #F8F8F8;
                    padding: 10px;
                    border-radius: 100%;
                }
                margin: 0;
                margin-right: 10px;
            }
            .register-trainer{
                border-radius: 100px;
                background: #BC2330;
                box-shadow: 12px 12px 56px 0px rgba(188, 35, 48, 0.12);
                text-align: center;
                color: #fff;
                font-family: HelveticaNeue-Bold;
                text-decoration: unset;
                padding: 11px;
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
    .menu-head{
        background-color: #E5AE35;
        width: 100%;
        z-index: 10;
        ul{
            margin: 0;
            li{
                display: inline-block;
                a{
                    color: #FFF;
                    font-family: HelveticaNeue-Bold;
                    &:hover{
                        color: #FFF;
                    }
                }
                &:hover{
                    a{
                        color: #BC2330;
                    }
                }
            }
        }
        .list-social{
            text-align: right;
            li{
                margin-left: 20px;
            }
        }
        .main-menu{
            ul{
                li{
                    margin-right: 55px;
                    padding: 15px 0;
                    a{
                        &:hover{
                        }
                    }
                }
            }
        }
    }
}
@keyframes mymove {
    25%  {transform: scale(1.1);}
    75%  {transform: scale(0.9)}
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}
@keyframes blip1 {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
#app{
    position: relative;
    overflow-x: hidden;
    .test-online{
        .test-online-button{
            position: fixed;
            bottom: 25px;
            right: 25px;
            background: #bc2330;
            border-radius: 100px;
            padding: 6px 15px;
            color: #fff;
            vertical-align: middle;
            transform: perspective(1px) translateZ(0);
            animation-name: mymove;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            i{
                margin-right: 10px;
            }
        }
        #testOnline{
            .modal-title{
                color: #E5AE35;
                font-family: HelveticaNeue-Bold;
                font-size: 25px;
            }
        }
    }
    .mobile-show{
        .btn-show-social{
            bottom: 100px;
            right: 10px;
            width: 40px;
            height: 40px;
            padding: 0;
            background: #fff;
            border-radius: 50%;
            text-align: center;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                background-color: #bb840a;
                border-radius: 100%;
                left: 0;
            }

            &:before {
                animation: blip1 2s infinite;
            }
            .list-social-mobile{
                padding: 0;
                margin: 0;
                overflow: hidden;
                .firt-call-mobile{
                    background: #E5AE35;
                    height: 37px;
                }
                li{
                    text-align: center;
                    background: #fff;
                    overflow: hidden;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    img{
                        margin: 8px auto;
                    }
                }

            }
        }
        #offcanvasBottom{
            border-radius: 24px;
            height: 47vh;
            .btn-close-modal{
                position: absolute;
                top: -15px;
                right: 0;
                background: #E5AE35;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                z-index: 2000;
                border: 2px solid #fff;
                opacity: 1;
                &:before{
                    content: "\f00d";
                    font-family: "Font Awesome 5 Free";
                    color: #fff;
                    font-size: 20px;
                    font-weight: 900;
                }
            }
            .offcanvas-header{
                background: #E5AE35;
                color: #FFF;
                font-family: HelveticaNeue-Bold;
                display: flex;
                justify-content: flex-start;
                .offcanvas-title{
                    margin-left: 20px;
                }
            }
            .offcanvas-body{
                ul{
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 24px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        img{
                            margin-right: 15px;
                        }
                        a{
                            display: flex;
                            flex-wrap: wrap;
                            color: #6B6B6B;
                            font-size: 15px;
                            span{
                                display: block;
                                width: 100%;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-mobile{
        background: #E5AE35;
        padding: 16px 10px;
        border-radius: 20px 20px 0 0;
        ul{
            li{
                a{
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    text-transform: none;
                    font-family: HelveticaNeue-Bold;
                    color: #fff;
                    i{
                        font-size: 20px;
                    }
                    span{
                        display: block;
                    }
                }
            }
        }
    }
    .scroll-top{
        z-index: 5;
        bottom: 192px;
        right: 20px;
        @media (max-width: 768px) {
            display: none;
        }
        a{
            width: 48px;
            border-radius: 100%;
            height: 48px;
            background: #E5AE35;
            display: block;
            text-align: center;
            line-height: 48px;
            font-size: 20px;
            color: #fff;
        }
    }
    .social-chat-online{
        z-index: 5;
        bottom: 80px;
        right: 20px;
        @media (max-width: 768px) {
            display: none;
        }
    }
    #notification {
        border-radius: 100px;
        background: #FFF;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);
        //backdrop-filter: blur(8px);
        color: #333;
        padding: 10px;
        position: fixed;
        bottom: 100px;
        left: 20px;
        display: none;
        transition: opacity 0.5s ease-in;
        z-index: 10;
        padding: 12px 24px;
        font-size: 13px;
        @media (max-width: 768px) {
            bottom: 150px;
        }
        &.show {
            display: block;
        }
        .message_ielts{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .pulse {
                position: relative;
                width: 20px;
                height: 20px;
                background: #BC2330;
                border-radius: 100%;
                border: 1px solid #BC2330;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: #BC2330;
                    border-radius: 100%;
                }

                &:before {
                    animation: blip1 2s infinite;
                }

                &:after {
                    animation: blip2 4s infinite;
                }
            }
            .message_ielts_right{
                margin-left: 25px;
                b{
                    margin-bottom: 0px;
                    display: block;
                }
                p{
                    margin-bottom: 0px;
                }
                span{

                }
            }
        }
    }
    .phone-call{
        position: fixed;
        bottom: 20px;
        left: 20px;
        @media (max-width: 768px) {
            display: none;
        }
        .content-center {
            display: flex;
            justify-content: center;
            align-items: center;
            .pulse{
                height: 48px;
                width: 48px;
                background-color: #BC2330;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                i {
                    color: #fff
                }
                &:before {
                    content: "";
                    position: absolute;
                    border: 1px solid #BC2330;
                    width: calc(100% + 40px);
                    height: calc(100% + 40px);
                    border-radius: 50%;
                    animation: pulse 1s linear infinite;
                }
                &:after {
                    content: "";
                    position: absolute;
                    border: 1px solid #BC2330;
                    width: calc(100% + 40px);
                    height: calc(100% + 40px);
                    border-radius: 50%;
                    animation: pulse 1s linear infinite;
                    animation-delay: 0.3s;
                }
            }
        }
    }

}
.main-footer{
  background: #E5AE35;
    .top-footer{
        h4{
            font-family: HelveticaNeue-Bold;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .register-program{
            background: #BC2330;
            border-radius: 100px;
            text-align: center;
            display: block;
            padding: 14px;
            a{
                color: #fff;
                font-family: HelveticaNeue-Bold;
                text-decoration: unset;
                img{
                    margin-right: 10px;
                }
            }
        }
        .list-course-home-ft{
            li{
                a{
                    color: #fff;
                    text-decoration: unset;
                    &:hover{
                        color: #BC2330;
                    }
                }
            }
        }
    }
    .bottom-footer{
        background: url("../images/under-ft.jpg") no-repeat center;
        .year-product{
            line-height: 36px;
        }
        .list-social-ft{
            text-align: right;
            margin: 0;
            @media (max-width: 768px) {
                text-align: left;
                margin-top: 15px;
            }
            li{
                display: inline-block;
                a{
                    display: block;
                    background: #E5AE35;
                    border-radius: 50%;
                    width: 36px;
                    height: 36px;
                    text-align: center;
                    color: #fff;
                    line-height: 36px;
                }
            }
        }
        @media (max-width: 768px) {
            padding-bottom: 100px !important;
        }
    }
}
