@keyframes mymove {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
.form-advisory {
  background: url(/images/bg-form.jpg?068adc0932cc84f4d0bf3b660db8e7e9) left center no-repeat;
  padding: 52px 0;
  background-size: cover;
}
.form-advisory .register-learn .title-form-add {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 55px;
}
@media (max-width: 768px) {
  .form-advisory .register-learn .title-form-add {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: inherit;
  }
}
.form-advisory .register-learn .list-chat-form ul li {
  background: #e5ae35;
  padding: 6px;
  border-radius: 10px;
  width: 100%;
  margin: 0 10px;
}
.form-advisory .register-learn .list-chat-form ul li svg {
  transform: perspective(1px) translateZ(0);
  animation-name: mymove;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.form-advisory .register-learn .list-chat-form ul li a {
  color: #fff;
}
.form-advisory .register-learn .form-home-add input, .form-advisory .register-learn .form-home-add select {
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.56);
  border: none;
  margin-bottom: 15px;
  color: #fff;
  height: 48px;
  padding: 10px 25px;
}
.form-advisory .register-learn .form-home-add input::-webkit-input-placeholder, .form-advisory .register-learn .form-home-add select::-webkit-input-placeholder {
  color: #fff;
}
.form-advisory .register-learn .form-home-add select:required:invalid {
  color: #fff;
}
.form-advisory .register-learn .form-home-add option[value=""][disabled] {
  display: none;
}
.form-advisory .register-learn .form-home-add option {
  color: #fff;
}
.form-advisory .register-learn .form-home-add input[type=number]::-webkit-inner-spin-button,
.form-advisory .register-learn .form-home-add input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.form-advisory .register-learn .form-home-add input[type=datetime-local]:focus {
  background: #fff;
  color: #000;
}
.form-advisory .register-learn .form-home-add .submit-form-home {
  border-radius: 100px;
  border: none;
  color: #fff;
  height: 56px;
  text-transform: uppercase;
  font-family: HelveticaNeue-Bold;
  background: #BC2330;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  animation-name: mymove;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.form-advisory .register-learn .form-home-add .submit-form-home i {
  margin-left: 10px;
}
.form-advisory .register-learn .bg-for-form-advisory svg, .form-advisory .register-learn .bg-for-form-advisory img {
  max-width: 100%;
  z-index: 2;
}
@media (min-width: 768px) {
  .form-advisory .register-learn .bg-for-form-advisory svg, .form-advisory .register-learn .bg-for-form-advisory img {
    bottom: -52px;
    right: 0;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .form-advisory .register-learn .bg-for-form-advisory svg, .form-advisory .register-learn .bg-for-form-advisory img {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .form-advisory .register-learn .bg-for-form-advisory {
    display: flex;
  }
}
.form-advisory .register-learn .bg-for-form-advisory:after {
  content: "";
  position: absolute;
  bottom: -52px;
  left: 0;
  right: 0;
  background: url(/images/anhcogai.webp?0a581b541566ffd1252f9fc4dc17c594) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
  height: 543px;
}
@media (max-width: 768px) {
  .form-advisory .register-learn .bg-for-form-advisory:after {
    height: 618px;
  }
}
