.content-design {
  background: linear-gradient(180deg, #E8FFF6 0%, #FFFFFF 100%);
}

.content-design-app-tab {
  background: linear-gradient(180deg, #FFFFFF 0%, #E8FFF6 100%);
}

.content-design-process {
  background: linear-gradient(180deg, #E8FFF6 0%, #FFFFFF 100%);
}

.content-design-project {
  background: linear-gradient(180deg, #FFFFFF 0%, #E8FFF6 100%);
}
